@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.scrollanim {
    opacity: 0;
}

.scrollanim.fade.scrolled {
    animation: fadeIn 1.4s ease-in-out forwards;
}

.scrollanim.left.scrolled {
    animation: fadeInLeft 1s ease-in-out forwards;
}

.scrollanim.right.scrolled {
    animation: fadeInRight 1s ease-in-out forwards;
}